body{
  margin: 0;
  text-align: center;
  padding-top: 10px;
  font-family: "Merriweather", sans-serif;
  color: #40514e;
}
h1 {
  margin: 100px auto 0 auto;
  font-size: 50px;
  color: #66bfbf;
  line-height: 1;
  width: 100%;
}
h2 {
  margin: 5px auto 0 auto;
  font-size: 2rem;
  color: #66bfbf;
  width: 50%;
  line-height: 2;
}
line{
  font-weight: bolder;
  line-height: 1;
}
hr {
  border: dotted 5px;
  border-bottom: none;
  border-color: #caf7e3;
  width: 30%;
}
p {
  text-align: left;
  line-height: 2;
}
h3 {
  margin: 0 auto 0 auto;
  color: #11999e;
  width: 50%;
  text-align: left;
}
a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;

}
.top-container{
  position: relative;
  margin: 0 auto;
  padding: 20px;
  display:block;
  height: 650px;
  background-color: #caf7e3;
}

.middle-container {
  width: 500px;
  height: 800px;
  margin: 0 auto;
}
.bottom-container {
  height: 200px;
  margin: 0 auto;
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.top-cloud {
  position: absolute;
  right: 300px;
}
.cloud {
  position: absolute;
  left: 300px;
}
.mount {
  position: absolute;
  right: 470px;
}
.skill-image {
  display: inline-block;
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 30px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.contact {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-left: 30px;
  margin-top: 40px;
  float: right;
}
.Skills {
  text-align: left;
  margin-left: 0;
}
.address {
  margin-left: 0;
  margin-right: 500px;
}
.skill-row {
  margin-left: 50px;
}
.last{
  text-align: center;
  color: #eaf6f6;
  font-size: 0.75rem;
  padding-top: 70px;
}
.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: "Merriweather", sans-serif;
   font-size: 24px;
   font-weight: 800;
   padding: 15px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
